
<!DOCTYPE html>
<html>
<head>
    <title>Pacientes</title>
</head>
<body>
    <h1>Lista de Pacientes</h1>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Temperatura</th>
            <th>Pressão</th>
            <th>Urgência</th>
            <th>Ações</th>
        </tr>
        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente.nome }}</td>
            <td>{{ paciente.temperatura }}</td>
            <td>{{ paciente.pressao }}</td>
            <td>{{ paciente.urgencia }}</td>
            <td>
                <a href="{% url 'editar_paciente' paciente.id %}">Editar</a> | 
                <a href="{% url 'deletar_paciente' paciente.id %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'adicionar_paciente' %}">Adicionar Paciente</a>
</body>
</html>
